.skillsH1style {
  padding-left: '80px';
  padding-right: '35px';
  margin-top: '80px';
}

@media screen and (max-width: 980px) {
  .skillsH1style {
    padding-left: '35px';
    padding-right: '35px';
    margin-top: '80px';
  }
}