.default {
    margin-left: 84px;
    padding: 1%;
    padding-bottom: 60px;
}

.main {
    display: flex;
    justify-content: space-around;
    padding-top:6%;
}

.main-name {
    padding-top: 50px;
}

h1 {
    font-size: 4em;
    font-weight: 800;
}

h5 {
    font-size: 2em;
    font-weight: 600;
}

.my-image {
    width: 300px;
    height: 400px;
    box-shadow: 25px 20px 15px #2a2931;
    border-radius: 20px;
}

.bigger-icon {
    height: 30px;
    width: 30px;
    color: white;
}

.footer-hover-effect:hover {
    position: relative;
    bottom: 0.3vw;
}

.bg-dark {
    background-color: #000!important;
}

.navbar-expand-lg {
    justify-content: space-between;
}

#responsive-nav-bar {
    padding: 0;
}

.vl {
    border-left: 2px solid white;
}

.play-button {
    font-size: 16px;
    font-weight: 800;
    margin: 5px;
    margin-left: 10px;
    border-radius: 0px;
}

.nav-item {
    padding-bottom: 10px;
}

@media screen and (max-width: 576px) {
    .main {
        padding: 2%;
        padding-bottom: 60px;
    }
    .hide-lessthan-400 {
        display: none;
    }
    .navbar-expand-lg {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 850px) {
    .main {
        flex-direction: column-reverse;
        align-items: center;
    }
    .my-image {
        width: 225px;
        height: 300px;
        box-shadow: 25px 20px 15px #2a2931;
        border-radius: 20px;
    }
    h1 {
        font-size: 3em;
        font-weight: 800;
    }
    h5 {
        font-size: 1.5em;
        font-weight: 600;
    }
    .footer-hover-effect:hover {
        position: relative;
        bottom: 1vw;
    }
    #my-card-columns {
        display: flex !important;
        align-items: space-around !important;
        flex-wrap: wrap !important;
        justify-content: space-around !important;
        padding-bottom: 100px !important;
    }
    
    #my-card {
        margin-bottom: 40px;
        border-radius: 5px !important;
        cursor: pointer !important;
        width: 100% !important;
    }
}